{ns mybox
 import #{aidbox aidbox.rest aidbox.rest.v1 aidbox.rest.acl}

 ;; Share User Specific Data
 access-api
 {:zen/tags #{aidbox.rest/api}
  "Patient" {:GET    search-patients-by-org-id
            [:id]  {:GET    read-patient-by-org-id}}}

 ;; Middlewares
 ;; Ensure that user.data.org is equal route-params.id
 id-org-match-mw
 {:zen/tags #{aidbox.rest/middleware}
  :engine aidbox.rest.v1/match-middleware
  :match {:org {:target   [:route-params :id]}}}

 ;; Operations
 ;; Patient operations
 pt-org-id-param
 {:zen/tags #{aidbox.rest.acl/request-param}
  :path          [:user :data :org]
  :source-schema {:type zen/string}}

 read-patient-by-org-id
 {:zen/tags #{aidbox.rest/op}
  :engine aidbox.rest.acl/read
  :resource "Patient"
  :format   "fhir"
  :filter   patient-filter}

 search-patients-by-org-id
 {:zen/tags #{aidbox.rest/op}
  :engine aidbox.rest.acl/search
  :resource "Patient"
  :format   "fhir"
  :filter   patients-filter}

 patient-filter
 {:zen/tags   #{aidbox.rest.acl/filter}
  :expression patient-condition}

 patients-filter
 {:zen/tags   #{aidbox.rest.acl/filter}
  :expression patients-condition}

 patient-condition
 {:zen/tags #{aidbox.rest.acl/sql-template}
  :params   {:org pt-org-id-param}
  :template "({{target-resource}}#>>'{extension}')::jsonb @> ('[{\"url\": \"tenant-id\", \"valueId\": \"' || {{params.org}} || '\"}]')::jsonb"}

 patients-condition
 {:zen/tags #{aidbox.rest.acl/sql-template}
  :params   {:org pt-org-id-param}
  :template "({{target-resource}}#>>'{extension}')::jsonb @> ('[{\"url\": \"tenant-id\", \"valueId\": \"' || {{params.org}} || '\"}]')::jsonb"}

 api
 {:zen/tags #{aidbox.rest/api}
  "access"  {:apis #{access-api}}}

 server
 {:zen/tags #{aidbox/service}
  :engine   aidbox/http
  :apis     #{api}}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "test server"
  :services {:http server}}

 }
